@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: #d90429;
    font-family: 'Nunito', sans-serif;
    color: white;
    /* height: 5vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

/*Collapsible Styles*/
.menu-content {
    background-color: #ef233c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 0;
    width: 100%;
    max-height: 0;
    position: fixed;
    overflow: hidden;
    padding: 0 0 0 40px;
}

.collapsible-menu {
    /* flex: auto; */
    width: 55px;
    padding: 0px 0.75rem;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu-label {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 0;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    background: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698732990/siman-landing/hamburger-icon_l5ya1q.png) no-repeat center;
    background-size: 35px;
    padding-left: 35px;
}

.menu-checkbox,
.menu-label-text,
.header-user {
    display: none;
}

.menu-checkbox:checked+.menu-label {
    background-image: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698734187/siman-landing/x_xijzmc.png);
}

.menu-checkbox:checked~.menu-content {
    max-height: 100%;
}

/*Ends Collapsible*/

/* Other Header containers*/
.header-logo {
    flex: auto;
    max-width: 100%;
}

.header-cart {
    margin-right: 25px;
    margin-left: 5px;
}

/*Heder containers IMG*/
.header-logo-icon {
    height: 35px;
}

.header-user-icon {
    height: 35px;
}

.header-cart-icon {
    height: 35px;
}

/*Ends Other Header containers*/

/*Header search box*/
.header-form {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 10px;
    border-radius: 8px;
    background-color: #8d99ae;
}

.header-form:hover {
    border: 1px solid #edf2f4;
}

.header-form:focus-within {
    background-color: #2b2d42;
    border: 1px solid #edf2f4;
}

.header-btn {
    background-color: transparent;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

.header-btn-icon {
    height: 1.5rem;
}

.header-input {
    flex: auto;
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

/*Footer Styles*/
.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
}

/**/
.footer-logo{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
}

.footer-logo img{
    height: 25px;
}

.footer-phone{
    display:flex;
    margin-bottom: 20px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-phone img{
    height: 25px;
}

.footer-phone p{
    margin-left: 5px;
}
/**/

.left-menu-checkbox,
.mid-menu-checkbox,
.right-menu-checkbox {
    display: none;
}

.left-menu-label,
.mid-menu-label,
.right-menu-label {
    align-items: center;
   /*  height: 2vh; */
    width: 100%;
    font-size: 1.1rem;
    display: block;
    cursor: pointer;
    background: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698876650/siman-landing/plus_jyyhop.png) no-repeat right top;
    background-size: 1.2rem;
    padding-left: 5px;
}

.left-menu-content,
.mid-menu-content,
.right-menu-content {
    left: 0;
    font-size: 0.9rem;
    width: 100%;
    max-height: 0;
    position: static;
    overflow: hidden;
    padding: 0 0 15px 20px;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-container a {
    display: block;
    color: black;
    margin: 20px 0;
    text-decoration: none;
}

/*Left Menu Styles*/
.footer-menu-left {
    width: 95%;
}

.left-menu-checkbox:checked+.left-menu-label {
    background-image: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698876709/siman-landing/minus_u6lueb.png);
}

.left-menu-checkbox:checked~.left-menu-content {
    max-height: 100%;
}

/*Ends Left menu*/

/*Mid Menu*/
.footer-menu-mid {
    width: 95%;
}

.mid-menu-checkbox:checked+.mid-menu-label {
    background-image: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698876709/siman-landing/minus_u6lueb.png);
}

.mid-menu-checkbox:checked~.mid-menu-content {
    max-height: 100%;
}

/*Ends Mid menu*/

/*Right Menu*/
.footer-menu-right {
    width: 95%;
}

.right-menu-checkbox:checked+.right-menu-label {
    background-image: url(https://res.cloudinary.com/dk2oxzxoo/image/upload/v1698876709/siman-landing/minus_u6lueb.png);
}

.right-menu-checkbox:checked~.right-menu-content {
    max-height: 100%;
}
/*Ends Right Menu*/

.footer-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-text{
    text-align: center;
    width: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ef233c;
    border-bottom: 1px solid #ef233c;
    padding: 10px 0;
}

.footer-social{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.footer-social a img{
    width: 35px;
}

.footer-copyright-text{
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
}

.footer-copyright-text span{
    display: inline-block;
}

/*Ends Footer Styles*/

::placeholder {
    color: white;
    opacity: 1;
}

@media screen and (min-width:576px){
    .left-menu-content,.mid-menu-content,.right-menu-content{
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    .header-container {
        height: 12vh;
    }

    .footer-menu-left, .footer-menu-mid,.footer-menu-right{
        width: 33%;
    }
    
    .left-menu-label, .mid-menu-label, .right-menu-label{
        width: 80%;
    }

    .left-menu-content,.mid-menu-content,.right-menu-content{
        width: 80%;
    }
}

@media screen and (min-width:992px) {
    .header-container {
        height: auto;
        padding: 1vh 0;
    }

    .header-logo {
        order: 1;
        flex-grow: 2;
        max-width: 135px;
        /* flex-basis: 140px; */
        margin-left: 2%;
        margin-right: 1%;
    }

    /*  .header-logo-icon{
        height: 35px;
    } */

    .collapsible-menu {
        order: 2;
        padding-right: 0;
        width: 45px;
    }

    .menu-label-text {
        order: 3;
        cursor: pointer;
        margin-right: 1%;
        flex-basis: 55px;
        display: block;
    }

    .header-form {
        order: 4;
        flex-basis: 350px;
        flex-grow: 4;
        margin: auto 256px auto 0;
    }

    .header-user {
        order: 5;
        display: block;
        margin: 0 5px;
    }

    .header-cart {
        order: 6;
    }
    /**/
    /**/

    /*Footer 992px*/
    .footer-menu-left,.footer-menu-mid,.footer-menu-right{
        width: 326px;
    }

    .left-menu-label, .mid-menu-label, .right-menu-label{
        pointer-events: none;
        background-image: none;
        width: 70%;
    }

    .left-menu-checkbox:checked+.left-menu-label,
    .mid-menu-checkbox:checked+.mid-menu-label,
    .right-menu-checkbox:checked+.right-menu-label{
        background-image: none;
        /* width: 70%; */
    }

    .right-menu-content,.mid-menu-content,.left-menu-content{
        max-height: 100%;
        width: 70%;
    }
    /*Ends footer 992px*/
}