.section-login {
    max-width: 400px;
    border-radius: 10px;
    margin: 50px auto 10px auto;
    background-color: #ef233c;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    max-width: 365px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 5px auto;
    flex-wrap: wrap;
    color: white;
    align-items: center;
}

.login-actions {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-form label {
    display: inline-block;
    width: 100px;
}

.login-form input {
    background-color: #8d99ae;
    color: white;
    outline: none;
    border-radius: 5px;
    height: 2rem;
}

.login-form input:hover {
    border: 1px solid #edf2f4;
}

.login-form input:focus-within {
    background-color: #2b2d42;
    border: 1px solid #edf2f4;
}

.login-form a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
}

.login-btn {
    color: white;
    font-size: 1rem;
    background-color: #2b2d42;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}

/*Sign in*/
.login-anchor {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-bottom: 40px;
}

.login-actions-signin{
    justify-content: center;
}

.login-anchor a {
    margin: 0 auto;
    color: #2b2d42;
    text-decoration: none;
}
/*Ends Sign in*/

::-ms-reveal {
    filter: invert(100%);
}

@media screen and (min-width:576px) {

    .section-login,
    .login-form input {
        font-size: 1.1rem;
    }
}

@media screen and (min-width:768px) {

    .section-login,
    .login-form input {
        font-size: 1.15rem;
    }

    .login-form label {
        width: 110px;
    }

    .login-form a {
        font-size: 0.9rem;
    }

}